.mat-table-main {
  width: 100%;
}

.mat-column-id{
  padding-left: 5px;
  padding-right: 24px;
  border-right: 1.1px solid black;
  text-align: center;
}

.mat-column-nome {
  padding-left: 1%;
  padding-right: 1%;
  width: 10%;
}

.mat-column-duracao {
  padding-left: 1%;
  width: 4%;
}

.mat-column-sinopse {
  padding-right: 1%;
  padding-left: 1%;
  width: 45%;
  text-align: justify;
}

.mat-column-data_lancamento {
  padding-left: 5px;
}

.mat-column-diretor {
  padding-left: 1%;
}

.mat-column-categoria {
  padding-left: 5px;
  padding-right: 7px;
}

.mat-column-estudio {
  padding-left: 5px;
  padding-right: 5px;
}

.mat-column-acoes {
  width: 8%;
  padding-left: 24px;
  padding-right: 5px;

  font-weight: bold;
  text-align: center;
  border-left: 1px dotted black;

}

.loading-spinner{
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.list {
  max-width: 550px;
  margin: auto;
}

.toolbar{
  margin-top: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.spacer{
  flex: 1 1 auto;
}
