<mat-card>
  <mat-toolbar color="primary">Filmes Disponíveis</mat-toolbar>
  <div *ngIf="filmes$ | async as filmes; else loading">
    <table mat-table [dataSource]="filmes" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.id }} </td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Filme </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.nome }} </td>
      </ng-container>

      <!-- Data de lançamento Column -->
      <ng-container matColumnDef="data_lancamento">
        <th mat-header-cell *matHeaderCellDef> Data de lançamento </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.data_lancamento | date: 'longDate' : 'pt-BR' }}  </td>
      </ng-container>

      <!-- Diretor Column -->
      <ng-container matColumnDef="diretor">
        <th mat-header-cell *matHeaderCellDef> Diretor </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.diretor }} </td>
      </ng-container>

      <!-- duracao Column -->
      <ng-container matColumnDef="duracao">
        <th mat-header-cell *matHeaderCellDef> Duração </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.duracao }} </td>
      </ng-container>

      <!-- Sinopse Column -->
      <ng-container matColumnDef="sinopse">
        <th mat-header-cell *matHeaderCellDef> Sinopse </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.sinopse }} </td>
      </ng-container>

      <!-- Estúdio Column -->
      <ng-container matColumnDef="estudio">
        <th mat-header-cell *matHeaderCellDef> Estúdio </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.estudio }} </td>
      </ng-container>

      <!-- Categoria Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.categoria }}
          <!--
            <mat-icon aria-hidden="false" aria-label="Categoria do Filme">{{ filme.categoria | categorias}}</mat-icon>
          -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>

<!--

  <div *ngIf="filmes$ | async as filmes; else loading">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor=" let filme of filmes">
      <mat-card class="example-card">
        <mat-card-title>{{ filme.nome }}</mat-card-title>
        <mat-card-subtitle>Diretor: {{ filme.diretor }} <br>
          Data de Lançamento: {{ filme.data_lancamento }}
          Duração: {{ filme.duracao }} min
        </mat-card-subtitle>
        <mat-card-content>
          <p>{{ filme.sinopse }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<section class="container">
  <div class="row" *ngIf="filmes$ | async as filmes; else loading">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor=" let filme of filmes" class="caption">
      <mat-card class="card">

        <mat-card-title data-toggle="collapse" data-target="">{{ filme.nome }}</mat-card-title>
        <mat-card-subtitle>Diretor: {{ filme.diretor }} <br>
          Data de Lançamento: {{ filme.data_lancamento }}
          Duração: {{ filme.duracao }} min
        </mat-card-subtitle>

        <div id="" class="collapse">
          <mat-card-content>
            <p>{{ filme.sinopse }}</p>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</section>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="https://mdbootstrap.com/img/new/standard/city/041.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://mdbootstrap.com/img/new/standard/city/042.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://mdbootstrap.com/img/new/standard/city/043.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://mdbootstrap.com/img/new/standard/city/044.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

-->
