<!--<mat-card>
  <mat-toolbar color="primary">Filmes Disponíveis</mat-toolbar>
  <div *ngIf="filmes$ | async as filmes; else loading">
    <table mat-table [dataSource]="filmes" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.id }} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Filme </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.nome }} </td>
      </ng-container>

      <ng-container matColumnDef="data_lancamento">
        <th mat-header-cell *matHeaderCellDef> Data de lançamento </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.data_lancamento | date: 'longDate' : 'pt-BR' }}  </td>
      </ng-container>

      <ng-container matColumnDef="diretor">
        <th mat-header-cell *matHeaderCellDef> Diretor </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.diretor }} </td>
      </ng-container>

      <ng-container matColumnDef="duracao">
        <th mat-header-cell *matHeaderCellDef> Duração </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.duracao }} </td>
      </ng-container>

      <ng-container matColumnDef="sinopse">
        <th mat-header-cell *matHeaderCellDef> Sinopse </th>
        <td mat-cell *matCellDef="let filme"> {{ filme.sinopse }} </td>
      </ng-container>

      <ng-container matColumnDef="estudio">
        <th mat-header-cell *matHeaderCellDef> Estúdio </th>
        <td mat-cell *matCellDef="let filme"> {{ filme?.estudio?.nome }} </td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let filme"> {{ filme?.categoria?.nome }}

            <mat-icon aria-hidden="false" aria-label="Categoria do Filme">{{ filme.categoria | categorias}}</mat-icon>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>

-->

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div class="container" *ngIf="filme$ | async as filmes; else loading">
  <mat-toolbar class="toolbar">
    <span>Filmes Disponíveis</span>

    <span class="spacer"></span>
    <div class="d-flex campo-pesquisa">
      <input
      class="form-control me-2"
      type="search"
      placeholder="Pesquisar"
      [formControl]="campoPesquisa"
      aria-label="Search">
    </div>
  </mat-toolbar>

  <div class="d-flex flex-wrap" ng-reaoear>
    <div class="col posicionamento mb-3" *ngFor=" let filme of filmes | paginate: { itemsPerPage: 9, currentPage: p }" >
        <div class="card h-100 box">
            <div class="card-body" (click)="openDialog(filme)">
                <div class="poster">
                  <img src="https://i.pinimg.com/originals/a8/6c/28/a86c2875ddd59391b55112a24345c230.png">
                </div>
                <div class="titulo">
                  <h3 class="card-title">{{ filme.nome }}</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="pags">
    <pagination-controls
    (pageChange)="p = $event"
    [previousLabel]="labels.previousLabel"
    [nextLabel]="labels.nextLabel">
    </pagination-controls>
  </div>
</div>

<!--
<div class="container" *ngIf="filmes$ | async as filmes; else loading">

  <div class="d-flex flex-wrap" ng-reaoear>
    <div class="col mb-3" *ngFor=" let filme of filmes | paginate: { itemsPerPage: 6, currentPage: p }" >
        <div class="card h-100 box">
            <div class="card-body" (click)="openDialog(filme)">
                <div class="poster">
                  <img src="https://i.pinimg.com/originals/a8/6c/28/a86c2875ddd59391b55112a24345c230.png">
                </div>
                <div class="titulo">
                  <h3 class="card-title">{{ filme.nome }}</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="pags">
    <pagination-controls
    (pageChange)="p = $event"
    [previousLabel]="labels.previousLabel"
    [nextLabel]="labels.nextLabel">
    </pagination-controls>
  </div>
</div>
-->
