<div class="modal-lg">
  <figure>
    <blockquote class="blockquote">
      <h1 mat-dialog-title>{{ filme?.filme?.nome }}</h1>
    </blockquote>
    <!--<mat-icon aria-hidden="false" aria-label="Categoria do Filme">{{ filme.categoria | categorias}}</mat-icon>-->
    <p>Lançamento: {{ filme?.filme?.data_lancamento | date: 'longDate' : 'pt-BR' }} | {{ filme?.filme?.duracao }} m</p>
    <figcaption class="blockquote-footer">
      Diretor(a): <cite title="Source Title">{{ filme?.filme?.diretor }}</cite>
    </figcaption>
  </figure>

  <div class="texto" mat-dialog-content >{{ filme?.filme?.sinopse }}</div>

  <hr>

  <div mat-dialog-content>
    <p><b>Estúdio:</b> {{ filme?.filme?.estudio?.nome }}  |  <b>Categoria:</b> {{ filme?.filme?.categoria?.nome }}</p>
  </div>

  <div mat-dialog-actions class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="me-md-2" mat-flat-button color="warn" mat-dialog-close>Fechar</button>
  </div>
</div>
