<router-outlet>
  <mat-toolbar color="primary" class="toolbar">
    <nav class="navbar navbar-dark">
      <a class="navbar-brand" style="font-size: 1.5rem" routerLink="/">Filmes - Lead</a>
    </nav>

    <span class="sepBar" *ngIf="autenticacaoService.isAuthenticated()">|</span>

    <button color="" mat-flat-button *ngIf="autenticacaoService.isAuthenticated()" style="font-size: 0.9rem" routerLink="/filmes">Acessar CRUD</button>

    <span class="spacer"></span>

    <div class="acessibilidade">
      <button mat-mini-fab class="botao" color="basic" (click)="setFontSize('a-')">A-</button>
      <button mat-mini-fab class="botao" color="basic" (click)="setFontSize('a')">A</button>
      <button mat-mini-fab class="botao" color="basic" (click)="setFontSize('a+')">A+</button>
    </div>

    <button color="" mat-flat-button *ngIf="autenticacaoService.isAuthenticated()" style="font-size: 0.9rem" routerLink="/logout">Sair</button>
    <button color="" mat-flat-button *ngIf="!autenticacaoService.isAuthenticated()" style="font-size: 0.9rem" routerLink="/login">Entrar</button>

  </mat-toolbar>
</router-outlet>
