<div class="container">
  <div class="row justify-content-center">
    <mat-card class="card col-7">
      <form>
        <mat-card-title class="text-center titulo">Login</mat-card-title>

        <mat-card-content>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="email">E-mail</mat-label>
            <input
              id="email"
              [(ngModel)]="solicitacaoLogin.email"
              name="email"
              required
              matInput placeholder="usuario@e-mail.com">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="senha">Senha</mat-label>
            <input
              id="senha"
              [(ngModel)]="solicitacaoLogin.senha"
              name="senha"
              required
              matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div class="d-flex justify-content-end">
            <h4 class="titulo-cadastro"> Não tem conta? </h4>
            <a class="btn link-cadastro" routerLink="/cadastro" color="primary">Cadastre-se</a>
          </div>

        </mat-card-content>

          <mat-card-actions class="botao">
            <button class="btn btn-primary" (click)="login()" type="submit">Entrar</button>
          </mat-card-actions>

      </form>
    </mat-card>
  </div>
</div>

