<div class="container">
  <div class="row justify-content-center">
    <mat-card class="card col-7">
      <form (ngSubmit)="login()">
        <mat-card-title class="text-center titulo">Login</mat-card-title>

        <mat-card-content>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="usuario">Usuário</mat-label>
            <input
              id="usuario"
              [(ngModel)]="usuario"
              name="usuario"
              matInput placeholder="usuario@e-mail.com">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="senha">Senha</mat-label>
            <input
              id="senha"
              [(ngModel)]="senha"
              name="senha"
              matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

        </mat-card-content>

          <mat-card-actions class="botao">
            <button class="btn btn-primary" type="submit">Entrar</button>
          </mat-card-actions>

      </form>
    </mat-card>
  </div>
</div>

