<div class="container">
  <div class="row justify-content-center form-cadastro">
    <mat-card class="card col-7">
      <form #AddUsuarioForm="ngForm" >
        <mat-card-title class="text-center titulo" style="font-size: 1.7rem">Cadastro</mat-card-title>

        <mat-card-content>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="nome" style="font-size: 1rem">Nome de usuário</mat-label>
            <input
              style="font-size: 1rem"
              id="nome"
              ngModel
              required
              name="nome"
              matInput>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="email" style="font-size: 1rem">E-mail</mat-label>
            <input
              style="font-size: 1rem"
              id="email"
              ngModel
              required
              name="email"
              matInput placeholder="usuario@e-mail.com">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="senha" style="font-size: 1rem">Senha</mat-label>
            <input
              style="font-size: 1rem"
              id="senha"
              ngModel
              required
              name="senha"
              matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div class="d-flex justify-content-end">
            <h4 class="titulo-login" style="font-size: 0.9rem"> Já conta? </h4>
            <a class="btn link-login" routerLink="/login" color="primary" style="font-size: 0.9rem">Logar</a>
          </div>

        </mat-card-content>

          <mat-card-actions class="botao">
            <button class="btn btn-primary" (click)="cadastrar(AddUsuarioForm.value)" type="submit">Cadastrar</button>
          </mat-card-actions>

      </form>
    </mat-card>
  </div>
</div>
