.form-cadastro{
  padding-top: 120px;
}

.card {
  max-width: 450px;
  margin-top: 50px;
}

.titulo{
  margin-top: 10px;
  margin-bottom: 30px;
}

.full-width {
  width: 100%;
}

.right-align {
  text-align: right;
}

.botao{
  text-align: center;
}

.link-login{
  font-size: 14px;
  margin-top: 0.5px;
  margin-left: 8px;
  padding: 0px;
}

.titulo-login{
  margin: 0%;
  font-size: 14px;
  align-self: center;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}


